body {
  background-color: #F6F1F1 !important;
}

/* Container */
.container {
  margin-top: 20px;
}

.container h1 {
  color: #146C94;
  text-align: center;
}

/* Collapsed Evidence & Expanded Evidence Tables */
.table > thead {
  background-color: #146C94;
}

.table > thead > tr > th{
  color: #F6F1F1;
}

.table > tbody > tr > th, td{
  color: #19A7CE;
}

/* Buttons */
.btnStyle {
  background-color: #146C94 !important;
  border: 0px !important;
  margin-top: 15px !important;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
} 
  
.btnStyle:hover {
  color: #fff;
  background-color: #19A7CE !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
  
.btnStyle:active {
  box-shadow: none;
  transform: translateY(0);
}

.table-responsive {   
  display: flex;
  white-space: nowrap;
}

#expandBtn {
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#evidenceExpandedContainer {
  margin-top: 80px;
}

#transferOwnershipBtn, #viewChainOfCustodyBtn, #deleteEvidenceBtn {
  margin-top: 20px;
  display:list-item;
  width: 220px;
}

#deleteEvidenceBtn {
  background-color: #950f0f !important;
}

#deleteEvidenceBtn:hover {
  background-color: #ce1414 !important;
}

/* Chain of Custody timeline */
.page-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}
  
.page-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #19A7CE;
  z-index: 0;    
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}
  
.page-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #19A7CE;
  background: -webkit-linear-gradient(top, #4782d3, rgba(52, 152, 219, 0));
  background: linear-gradient(to bottom, #4782d3, rgba(52, 152, 219, 0));
  top: 100%;
  left: 303px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}
  
.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 35px 20px;
  border-radius: 3px;
  text-align: left;    
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}
  
.vtimeline-content h3 {
  color: #146C94;
  font-size: 1.5em;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}

.vtimeline-content h6 {
  color: #19A7CE;
  overflow-wrap: break-word;
}

.vtimeline-content p {
  font-size: 0.9em;
  margin: 0;
}

.vtimeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #146C94;
  border-radius: 50%;
  float: left;
  text-align: center;
  line-height: 50px;
  z-index: 99;
  margin-left: 280px;
}

.vtimeline-icon i {
  display: block;
  font-size: 1.5em;
  line-height: 50px;    
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 400;
  color: #19A7CE;
}

.post-meta {
  padding-top: 15px;
  margin-bottom: 20px;
}

.post-meta li:not(:last-child) {
  margin-right: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #252525;
  font-weight: 700;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  letter-spacing: -0.2px;
  line-height: 1.3;
}

#transferDescription {
  font-size: 1em;
  font-weight: 600;
}

/* Chain of Custody Modal */
.modal-xl {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-xl-content {
  height: auto;
  min-height: 100vh;
  width: 95vw !important;
  border-radius: 0;
  overflow-x: auto;
}

#timeline {
  margin-top: -20px !important;
}

#chainOfCustodyModalBody {
  padding-bottom: 60px;
}

/* Media Queries */
@media (max-width: 1182px) {
  .page-timeline {
    margin-left: -100px !important;
  }
}

@media (max-width: 1016px) {
  .page-timeline {
    margin-left: -180px !important;
  }
  .vtimeline-date{
    display: none !important;
  }
}

@media (max-width: 991px) {
  .page-timeline {
    margin-left: -300px !important;
  }
}

@media (max-width: 780px) {
  #transferOwnershipBtn, #viewChainOfCustodyBtn, #deleteEvidenceBtn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
  }
}

@media (max-width: 575px) {
  #transferOwnershipBtn, #viewChainOfCustodyBtn, #deleteEvidenceBtn {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
  }
}

@media (max-width: 412px) {
  .sidebar {
      height: 180vh;
  }
  #caseId {
    width: 53vw;
  }
}